@use "variables";
@use "mixins";

.gform_wrapper {
    margin-top: 0!important;
    .gform_validation_errors {
        display: none!important;
    }
    .gform_heading {
        margin-bottom: 0!important;
    }
    .gform_description {
        display: none!important;
    }
    form {
        input, textarea, select  {
            border-radius: 10px!important;
            line-height: 1;
            padding-left: 10px!important;
            padding-right: 10px!important;
            min-height: 44px;
        }
        select {
            appearance: none;
            background-image: url(/wp-content/uploads/2025/02/arrow-down.svg);
            background-position: calc(100% - 15px) 50%;
            background-size: 16px;
            background-repeat: no-repeat;
        }
        .gfield_error {
            margin-top: 0!important;
            margin-bottom: 0!important;
            background-color: transparent!important;
            border-top: 0!important;
            border-bottom: 0!important;
            .validation_message {
                display: inline!important;
                background-color: #790000!important;
                padding: 6px 12px 5px 12px!important;
                border-radius: 10px;
                color: #FFF;
                font-size: 14px!important;
            }
        }
        
        div.ginput_container_checkbox, div.ginput_container_radio {
            margin-top: 0!important;
            > ul {
                margin-top: 0!important;
                margin-bottom: 0!important;
            }
        }
        .gchoice {
            label {
                white-space: normal!important;
            }
            input {
                position: relative;
                bottom: 1px;
                &[type="radio"] {
                    bottom: 3px;
                }
            }
        }
        .gform_footer {
            padding: 0!important;
            margin: 0!important;
            button[type="submit"] {
                margin-top: 20px;
                margin-bottom: 0;
                border-radius: 10px;
                line-height: normal;
                display: flex;
                align-items: center;
                background-color: variables.$primary;
                border: 0;
                color: variables.$white;
                font-size: 18px;
                padding: 12px 20px 10px;
                @include mixins.transition-all(.3s);
                &:after {
                    content: '';
                    position: relative;
                    top: -1px;
                    display: inline-block;
                    margin-left: 5px;
                    width: 16px;
                    height: 16px;
                    mask-image: url(/wp-content/uploads/2025/02/btn-arrow-right.svg);
                    mask-size: 16px;
                    mask-repeat: no-repeat;
                    mask-position: center;
                    background-color: variables.$white;
                }
                &:hover, &:focus {
                    transform: scale(1.1);
                }
            }
        }
    }
}
