@use "mixins";
@use "variables";
@use "helpers";

header {
    position: relative;
    z-index: 9999;
    #nav-wrapper {
        pointer-events: none;
        display: none;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 9999;
        opacity: 0;
         transition:  .4s ease-in-out transform, .6s ease-in-out opacity;
        &.js-show {
            opacity: 1;
            // display: block;
            pointer-events: all;

            // #nav-overlay {
            //     opacity: 0;
            //     visibility: hidden;
            //     pointer-events: none;
            // }
        }
        .elementor-widget-shortcode {
            height: 100%;
            .elementor-shortcode {
                height: 100%;
            }
        }
        #nav {
            display: flex;
            align-items: center;
            height: 100vh;
            max-height: 100vh;
            width: 50vw;
            position: absolute;
            right: 0;
            // background-color: variables.$white;
            font-size: 36px;
            box-shadow: 0 8 16px rbga(0,0,0,0.25);
            // background-image: url(/wp-content/uploads/2025/03/bkgd.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom left;
            // transform: translateX(100%);
            // opacity: 0;
            // transition:  .4s ease-in-out transform, .6s ease-in-out opacity;
            align-items: center;
            @supports(backdrop-filter:blur(15px)) {
                background-color: rgba(52, 45, 20, .45);
                backdrop-filter: blur(15px);
            }
            background-color: rgba(52, 45, 20, .9);
            border-right: 0;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none!important;
            }
            // &.js-show {
            //     // transform: translateX(0);
            //     opacity: 1;
            //     ~ #nav-overlay {
            //         opacity: 0;
            //         visibility: hidden;
            //         pointer-events: none;
            //     }
            // }
            .nav-inner {
                width: 100%;
                height: calc(100% - 80px);
                padding: 40px;
                #nav-close {
                    position: absolute;
                    top: 40px;
                    right: 40px;
                    display: flex;
                    align-items: center;
                    justify-self: end;
                    background-color: transparent;
                    color: variables.$white;
                    font-size: 16px;
                    padding: 4px 8px 3px;
                    border: 1px solid variables.$white;
                    background: none;

                    @include mixins.transition-all(.3s);
                    &:after {
                        content: '';
                        position: relative;
                        top: -1px;
                        display: inline-block;
                        margin-left: 5px;
                        width: 16px;
                        height: 16px;
                        mask-image: url(/wp-content/uploads/2025/02/btn-arrow-right.svg);
                        mask-size: 16px;
                        mask-repeat: no-repeat;
                        mask-position: center;
                        background-color: variables.$white;
                    }
                    &:hover, &:focus {
                        transform: scale(1.1);
                    }
                }
                nav.main-nav {
                    padding: 65px 0 40px;
                    > div {
                        ul {
                            list-style-type: none;
                        }
                        > ul {
                            padding-left: 0;
                            > li {
                                margin: 10px 0;
                                @include mixins.transition-all(.3s);
                                &.menu-item-has-children {
                                    > a {
                                        position: relative;
                                        &:after {
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            right: 0;
                                            width: 20px;
                                            height: 20px;
                                            mask-image: url(/wp-content/uploads/2025/03/dropdown-arrow.svg);
                                            mask-size: contain;
                                            mask-repeat: no-repeat;
                                            mask-position: center;
                                            background-color: variables.$white;
                                            will-change: transform;
                                            @include mixins.transition-all(.3s);
                                        }
                                        &:hover {
                                            &:after {
                                                transform: scale(1.1) translateY(-50%);
                                            }
                                        }
                                    }
                                    &.show {
                                        a {
                                            &:after {
                                                transform: translateY(-50%) scaleY(-1);
                                            }
                                            &:hover {
                                                &:after {
                                                    transform: scale(1.1) translateY(-50%) scaleY(-1);
                                                }
                                            }
                                        }
                                    }
                                }
                                &.show {
                                    > a {
                                        border-bottom: 1px solid rgba(255, 255, 255, 1);
                                    }
                                    > ul.sub-menu {
                                        display: block;
                                    }
                                }
                                > a {
                                    display: block;
                                    width: 100%;
                                    color: variables.$white;
                                    border-bottom: 1px solid rgba(255, 255, 255, .1);
                                    cursor: pointer;
                                    @include mixins.transition-all(.3s);

                                }
                                &:hover {
                                    > a {
                                        border-bottom: 1px solid rgba(255, 255, 255, 1);
                                    }
                                }
                                > ul.sub-menu {
                                    padding-left: 20px;
                                    @include mixins.transition-all(.3s);
                                    li {
                                        line-height: 1.25;
                                        &:first-child {
                                            margin-top: 20px;
                                        }
                                        &:last-child {
                                            margin-bottom: 10px;
                                        }
                                        a {
                                            color: variables.$white;
                                            font-size: 24px;
                                            opacity: .825;
                                            @include mixins.transition-all(.3s);
                                            &:hover {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
        #nav-btns {
            @include mixins.mq-down-sm() {
                grid-template-columns: 1fr;
            }
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding-bottom: 40px;
            .btn {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-self: end;
                font-size: 18px;
                padding: 6px 10px 4px;
                border-radius: 10px;
                will-change: transform;
                @include mixins.transition-all(.4s);
                &:first-child {
                    background-color: variables.$primary;
                    color: variables.$white;
                    &:after {
                        background-color: variables.$white;
                    }
                }
                &:last-child {
                    background-color: variables.$light-green;
                    color: variables.$primary;
                    border: 1px solid variables.$light-green;
                    &:after {
                        background-color: variables.$light-green;
                    }
                }
                &:after {
                    content: '';
                    position: relative;
                    top: -1px;
                    display: inline-block;
                    margin-left: 5px;
                    width: 16px;
                    height: 16px;
                    mask-image: url(/wp-content/uploads/2025/02/btn-arrow-right.svg);
                    mask-size: 16px;
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
                &:hover, &:focus {
                    transform: scale(1.075);
                }
            }
        }
        #nav-overlay {
            height: 100vh;
            opacity: .5;
            position: absolute;
            transition: all .3s ease-in-out;
            width: 100%;
            opacity: .9;
            @include mixins.transition-all(.5s);
            &:not(.js-show) {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            #nav {
                width: 75vw;
            }
        }
        @include mixins.mq-down-md() {
            #nav {
                width: 100vw;
                // nav.main-nav {
                //     padding: 80px 0 40px;
                // }
            }
        }
        @include mixins.mq-up-md() {
            #nav {
                border-left: 1px solid variables.$light-green;
                // nav.main-nav {
                //     padding: 80px 0;
                // }
            }
        }
        @include mixins.mq-down-sm() {
            #nav {
                .nav-inner {
                    nav.main-nav {
                        > div {
                            > ul {
                                > li {
                                    > ul.sub-menu {
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}