@use "variables";

.single-post {
    main#content {
        max-width: 1440px;
        margin: 40px auto 100px;
        .page-content {
            .entry-content {
                padding: 0 40px;
                &__left {
                    &__featured-image {
                        img {
                            aspect-ratio: 1;
                            border-radius: 10px;
                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
                            margin-bottom: 20px;
                        }
                    }
                }
                &__right {
                    &__title {
                        color: variables.$primary;
                        font-size: 48px;
                        line-height: 1.25;
                    }
                    &__date {
                        font-style: italic;
                        margin: 20px 0;
                    }
                    &__content {
                        a {
                            color: inherit;
                            &:hover {
                                text-decoration: none;
                            }
                            &.back-to-insights-button {
                                display: inline-flex;
                                align-items: center;
                                gap: 8px;
                                background-color: var(--e-global-color-primary);
                                text-decoration: none;
                                font-size: 1em;
                                line-height: 1em;
                                fill: var(--e-global-color-accent);
                                color: var(--e-global-color-accent);
                                padding: 12px 20px 10px 20px;
                                border-radius: 10px;
                                transition: transform 0.3s ease-in-out;
                                &:before {
                                    content: '';
                                    display: block;
                                    position: relative;
                                    bottom: 1px;
                                    width: 20px;
                                    height: 20px;
                                    mask-image: url(/wp-content/uploads/2025/02/btn-arrow-left.svg);
                                    mask-size: contain;
                                    mask-repeat: no-repeat;
                                    background-color: variables.$white;
                                }
                                &:hover {
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                    &__disclaimer {
                        margin-bottom: 30px;
                    }
                }
            }
    
            @media(min-width: 768px) {
                .entry-content {
                    display: flex;
                    gap: 40px;
                    &__left {
                        position: sticky;
                        top: 120px;
                        width: calc((4 / 12) * 100%);
                        align-self: flex-start;
                        &__featured-image {
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }   
                    &__right {
                        width: calc((8 / 12) * 100%);
                    }
                }
            }
            @media(min-width: 1024px) {
                .entry-content {
                    gap: 120px;
                }
            }
            @media (max-width: 767px) {
                .entry-content {
                    &__left {
                        &__featured-image {
                            img {
                                width: auto;
                            }
                        }
                    }
                    &__right {
                        &__title {
                            font-size: 32px
                        }
                    }
                }
            }
        }
    }
}
