$spacing-xl: 100px;
$spacing-lg: 40px;
$spacing-none: 5px;

$primary: var(--e-global-color-primary);
$white: #FFF;
$light-green: var(--e-global-color-776e614);
$pool-day: var(--e-global-color-28d65b4);
$mint: var(--e-global-color-70B790);
$pale-blue: var(--e-global-color-9042002);
$sunny-d: var(--e-global-color-3d3f02b);
$red-one: var(--e-global-color-28f8c89);

$gray-400: var(--e-global-color-1ffd87b);
$text-secondary: var(--e-global-color-9ad6a06);

$font-weight-bold: 700;

$border-radius: 10px;
$box-shadow: 0 8px 16px 0 rgba(0,0,0,.25);

$text-size-lg: 27px;